@page
@model TransactionSystem.Pages.AddProductModel

<h2>Dodaj produkt</h2>

<form method="post" asp-page-handler="AddProduct">
    <label for="Name" class="form-label">Nazwa:</label>
    <input type="text" class="form-control" id="Name" asp-for="product.Name">

    <label for="Price" class="form-label">Cena:</label>
    <input type="text" class="form-control" id="Price" asp-for="product.Price">

    <br></br>
    <input class="btn btn-primary" type="submit" value="Dodaj Produkt">

</form>
<br></br>
<h2>Produkty</h2>

<table class="table table-striped-columns">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nazwa</th>
            <th>Cena</th>
            <th>Usuń</th>
            <th>Edytuj</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var products in Model.products)
        {
            <tr>
                <td>@products.Id</td>
                <td>@products.Name</td>
                <td>@products.Price</td>
                <td>
                    <form method="post" asp-page-handler="Delete">
                        <input type="hidden" name="Id" value="@products.Id" />
                        <button type="submit" class="btn btn-danger">X</button>
                    </form>
                </td>
                <td><button type="button" onclick="EditUser" class="btn btn-info">Edit</button></td>
            </tr>
        }
    </tbody>
</table>