@page
@model AdminPanelModel

<h1>Panel administratora</h1>

<ul>
    <li><a href="/AddUser"><i class="fas fa-user-plus"></i>Użytkownicy</a></li>
    <li><a href="/AddProduct"><i class="fas fa-plus-circle"></i>Produkty</a></li>
    <li><a href="/Transactions"><i class="fas fa-receipt"></i>Transakcje</a></li>
</ul>
